header {
  margin: 0px;
  padding: 0px;
  width: 100%;
  min-height: 60px;
}

main {
  /*background-color: rgb(81, 131, 80);*/
  overflow: auto;
  box-sizing: border-box;
}

header, main {
  border-bottom: 1px solid rgb(49, 204, 96);
}

header #logout-btn{
  float: right;
}

nav, .app-container {
  box-sizing: inherit;
  overflow: inherit;
}

.nav-bar {
  background-color: rgb(224, 235, 225);
}

.nav-list {
  padding-left: 0px;
  margin: 22px auto;
  text-align: center;
}

.nav-link {
  list-style: none;
  display: inline;
  padding: 20px 25px;
  margin: 20px auto;
  transition: 150ms;
}

.nav-link:hover {
  background-color: white;
  color: grey;
}

.app-container {
  background-color: rgb(177, 214, 181);
  text-align: center;
  height: 100%;
}

footer {
  width: 100%;
  height: 20px;
}

@media (min-width: 1080px) {
  main {
    height: 900px;
  }
  .nav-bar {
    width: 170px;
    float: left;
    height: 100%;
  }
  .nav-link {
    display: block;
    padding: 35px 30px 35px 0px;
    text-align: right;
    font-size: 1.1em;
  }
  .nav-link::after {
    content: ' \25BA';
  }
  .app-container {
    width: calc(100% - 170px);
    float: right;
    height: 100%;
  }
}
/*
@media (min-width: 992px) {
  .nav-bar {
    width: 20%;
  }
  .app-container {
    width: 80%;
  }
}*/
