table {
  margin: 10px auto;
  width: 90%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  display: table;
  color: #202020;
  background-color: whitesmoke;
  border: 1px solid #808080;
  border-collapse: collapse;
}

table td{
  border: 1px solid #808080;
}
thead td{
  padding: 5px 2px;
  font-weight: 500;
  font-size: 1.0em;
  color: white;
  background: #ee4c3a;
}
table td button{
  border: none;
  padding:8px 5px;
  color: whitesmoke;
  height: 100%;
  min-width: 100%;
  margin: 0px;
}

tr:nth-of-type(even) button{
  background: #50bb80d8
}
tr:nth-of-type(odd) button{
  background: #50bb80
}

@media screen and (max-width: 580px) {
  .table {
    display: block;
  }
}


@media screen and (max-width: 580px) {
  .row {
    padding: 15px 0;
    display: block;
  }
}

