header {
  margin: 0px;
  padding: 0px;
  width: 100%;
  min-height: 60px;
  background-color: rgb(60, 109, 56);
}

main {
  /*background-color: rgb(81, 131, 80);*/
  overflow: auto;
  box-sizing: border-box;
}

header, main {
  border-bottom: 1px solid rgb(49, 204, 96);
}

nav, .app-container {
  box-sizing: inherit;
  overflow: inherit;
}

.nav-bar {
  background-color: rgb(95, 95, 95);
}

.nav-list {
  padding-left: 0px;
  margin: 22px auto;
  text-align: center;
}

.nav-link {
  list-style: none;
  display: inline;
  padding: 20px 25px;
  margin: 20px auto;
  transition: 150ms;
}

.nav-link:hover {
  background-color: white;
  color: grey;
}

.app-container {
  background-color: #404040;
  text-align: center;
  height: 100%;
}

footer {
  background-color: rgb(60, 109, 56);
  width: 100%;
  height: 20px;
}

@media (min-width: 768px) {
  main {
    height: 900px;
  }
  .nav-bar {
    width: 20%;
    float: left;
    height: 100%;
  }
  .nav-link {
    display: block;
    padding: 35px 30px 35px 0px;
    text-align: right;
    font-size: 1.3em;
  }
  .app-container {
    width: 80%;
    float: right;
    height: 100%;
  }
}

@media (min-width: 992px) {
  main {
  }
  .nav-bar {
    width: 20%;
  }
  .app-container {
    width: 80%;
  }
}
