.main-content-area{
  margin: 10px auto;
  width: 90%;
}

.main-content-area div{
  margin-bottom: 10px;
}

.main-content-area table {
  width: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  display: table;
  border: 1px solid #808080;
  border-collapse: collapse;
}

.main-content-area table td {
  border: 1px solid #808080;
}

.main-content-area thead td {
  padding: 5px 2px;
  font-weight: 500;
  font-size: 1.0em;
  color: #fff;
  background: #c74e30;
}

.main-content-area .table-button {
  height: 100%;
  min-width: 100%;
  border: none;
  padding: 8px 5px;
  margin: 0px;
  background: inherit;
}

.main-content-area .table-button:hover{
  background: #dda99b;
  border: none;
}


.main-content-area tr:nth-of-type(even){
  background: #f2f2f2
}

@media screen and (max-width: 580px) {
  .main-content-area .table {
    display: block;
  }
}

@media screen and (max-width: 580px) {
  .main-content-area .row {
    padding: 15px 0;
    display: block;
  }
}
