<h3>
  <!--Dialogue Header-->
  <p>
    {{data.dataTransaction.vendor}} is currently categorized as: {{data.dataTransaction.category}}
  </p>
  <p *ngIf="selectedCategory && selectedCategory != data.dataTransaction.category">
    Will be changed to: {{selectedCategory}}
  </p>
  <p *ngIf="!selectedCategory || selectedCategory == data.dataTransaction.category">

  </p>
</h3>
<div class="categorizer-main">
  <!--Dialogue Menu-->
  <main class="categorizer-menu">
    <h4>Category Options</h4>
    <button (click)="insertNewCategory()">Add Category </button>
    <button (click)="removeSelectedCategory()" [disabled] = "!selectedCategory ||selectedCategory == 'Uncategorized'">Remove Selected</button>
    <button disabled>Rename Selected</button>
    <input type="checkbox" name="checkbox-apply-all" [checked] = "applyAll" (change)="applyAll = !applyAll">
    <label for="checkbox-apply-all">Apply this category to all transactions with this vendor</label>

  </main>
  <!--Dialogue Category List-->
  <aside class="category-list">
    <select size="15" [(ngModel)]="selectedCategory">
      <option *ngFor="let cat of cats; let i = index" [selected]="cat.category == data.dataTransaction.category">{{cat.category}}</option>
    </select>
  </aside>
</div>
<button (click)="closeNoChanges()">Close</button>
<button (click)="closeApplyChanges()" [disabled]="(!selectedCategory || selectedCategory == data.dataTransaction.category) && !applyAll" >Apply</button>
