/* html and body will take up full screen */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html {
  height: 100%;
  overflow: auto;
}
body {
  margin: auto;
  width: 100%;
  max-width: 1600px;
  height: 100%;
  min-height: 768px;
  font-family: Arial, Helvetica, sans-serif;
}

/*custom classes*/
.grn-bg{
  background-color: rgb(103, 179, 96);
}

