<div class="main-content-area">
  <div id="pagination-controls">
    <div id="page-number-links">
      Page:
      <button>1</button>
      <button>2</button>
      <button>3</button>
      <button>4</button>
      <button>5</button>
      <button>6</button>
    </div>
    <div id="page-amount-select">
      Items per page:
      <select>
        <option>10</option>
        <option>25</option>
        <option>50</option>
        <option>100</option>
      </select>
    </div>
  </div>
  <table>
    <thead>
      <tr>
        <td>Date/Time</td>
        <td>Vendor</td>
        <td>Category</td>
        <td>Amount</td>
        <td>Options</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let t of trans">
        <td>
          {{t.date | date: "M/dd/yyyy"}}
        </td>
        <td>
          {{t.vendor}}
        </td>
        <td>
          <button class="table-button" (click)="openCategorizerDialog(t)">{{t.category}}</button>
        </td>
        <td align="right">
          {{t.amount | currency:'USD':''}}
        </td>
        <td>
        </td>
      </tr>
    </tbody>
  </table>
</div>
