<table>
  <thead>
    <tr>
      <td>Date/Time</td>
      <td>Vendor</td>
      <td>Category</td>
      <td>Amount</td>
      <td>Options</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let t of trans">
      <td>
        {{t.date | date: "M/dd/yyyy"}}
      </td>
      <td>
        {{t.vendor}}
      </td>
      <td>
        <button (click)="openCategorizerDialog(t)">{{t.category}}</button>
      </td>
      <td align="right">
        {{t.amount | currency:'USD':''}}
      </td>
      <td>

      </td>
    </tr>
  </tbody>
</table>
